# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/minqlx.zip
/.vs/minqlx/v16/Browse.VC.db
/.vs/minqlx/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/minqlx/v16/ipch/AutoPCH
.vs/VSWorkspaceState.json
.gitignore
.vs/minqlx/v16/.suo
